body{
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    font-family: Arial, Helvetica, sans-serif;
    
}
ul{
    display: flex;
    justify-content: space-between ;
    list-style-type: none;
    align-items: center;
    padding-inline: 16px;
}
a{
    color: white;
    text-decoration: none;
}

 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid yellow;
 }
 .center{
    text-align: center;
    
 }
 .stitle{
    justify-content: center;
    align-items: center;

 }
 
 
 .lig{
    
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.514);
    text-align: center;
    color: white;
    position: absolute;
    left: 600px;
 }
 .deslig{
    
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.507);
    text-align: center;
    color: white;
    position: absolute;
    right: 600px;
 }
p{
    text-align: center;
}

h3{
    
    text-align: end;
}